.gildore_landing {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#root {
  width: 100%;
}

.anton {
  font-family: "Anton", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
